.preview-outer-container {
    height: 834px;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    padding: 0px 24px 24px;
    background-color: #fafafa;
    overflow: hidden;

    .personal-details {
        padding: 40px;
        flex: 1;
        background-color: #ffffff;
        border-radius: 8px;
        overflow: hidden;

        .header-part {
            margin-bottom: 40px;

            h2 {
                margin-bottom: 20px;
            }

            p {
                color: #737373;

            }
        }

        .add-profile-pic-container {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 233px;
            background-color: #FAFAFA;
            border-radius: 8px;

            text {
                color: #737373;
            }

            .upload-continer {
                height: 100%;
                display: flex;
                align-items: center;
                width: 442px;

                input {
                    background-color: #EFEBFF;
                }

                button {
                    height: 100%;
                    width: 193px;
                    border: none;
                    background-color: #EFEBFF;
                    border-radius: 8px;
                    margin-right: 24px;

                    svg {
                        margin-bottom: 5px;
                        font-weight: 400;
                    }

                    div {
                        color: #633CFF;
                        font-weight: 700;
                    }
                }

                p {
                    letter-spacing: 0.5px;
                    font-size: 0.8rem;
                    width: 240px;
                    color: #737373;
                }
            }


        }
    }



}