.links-outer-container{
    flex-shrink:1;
    height: 834px;
    width: 97%;
    height: 100dvh;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fafafa;
   

    .Phone-mockup{
        flex-shrink: 1;
        display: flex;
        align-items: center;
        height: auto;
        justify-content: center;
        flex-shrink:1;
        flex: 1;
        // width: 560px;
        background-color: #FFFFFF;
        border-radius:8px ;
        margin-right: 24px;
    }

    .customize-link-container{
        flex-shrink: 1;
        flex: 2;
        background-color: #FFFFFF;
    }
    
}