.link-add {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: #FAFAFA;
    height: 228px;
    margin-bottom: 24px;
    padding: 20px;
    border-radius: 8px;

    .platform-title,
    .link-title {
        width: 100%;
        display: grid;
        font-size: smaller;
        margin-bottom: 8px;
        color: #737373;
        position: relative;
        justify-content: space-between;
        flex-direction: row;

        .link{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
        }

        .downarrow-svg {
            position: absolute;
            font-size: 35px;
            top:20px;
            right: 15px;
            color: #633CFF;
            font-weight: 400;
            transition: all 0.1s linear;
        }

        .downarrow-clicked{
            position: absolute;
            font-size: 35px;
            top:33px;
            right: 15px;
            color: #633CFF;
            font-weight: 400;
            transition: all 0.3s linear;
            transform: rotateX(180deg);
        }

    }

    .platform-container {
        position: relative;
        margin-bottom: 12px;

        .platform-links {
            height: 48px;
            width: 100%;
            background-color: #FFFFFF;

            &:focus{
                outline: none;
                border: 1px solid #633cff;
                box-shadow: 0px 0px 20px 1px #beadff;
                caret-color: #633cff;
            }
        }
        .choosed-platform{
           position: absolute;
           top: 40px;
           left: 15px;
        }

        
    }

    .url-container {
        position: relative;

        svg {
            position: absolute;
            top: 40px;
            left: 15px;
        }

        .url-links{
            &:focus{
                outline: none;
                border: 1px solid #633cff;
                box-shadow: 0px 0px 20px 1px #beadff;
                caret-color: #633cff;
            }
        }
    }

    input {
        height: 48px;
        width: 100%;
        border: none;
        border-radius: 8px;
        padding-left: 40px;

        &::placeholder {
            color: rgba(115, 115, 115, 0.5);
        }
    }

    .title {
        display: flex;
        align-items: center;
        color: #737373;
        margin-bottom: 12px;
        font-weight: 600;
        justify-content: space-between;

        .removebtn {
            background-color: #FAFAFA;
            border: none;
            color: #737373;
            font-size: medium;

        }
    }
}